<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('./partials/header.ejs');%>
</head>

<body>
    <%- include('./partials/navbar.ejs');%>

    <div class="container">
        <section class="info">
            <p>Специальность Компьютерные системы и комплексы в Волгоградском энергетическом колледже начинает свое
                летоисчесление с 1997 года, когда был произведен первый набор студентов на данную специальность.</p>
            <p>
                Сменялись поколения студентов, менялась специальность, менялся педагогический состав, но
                "отцы-основатели" остались неизменными:
            </p>
            <p><b> Баушев В.С. Епифанов Р.В.</b></p>
            <p>Лучшим показателем нашей работы являются наши студенты и выпускники, которые показывают свой
                профессионализм на региональных и всероссийских олимпиадах и чемпионатах
                Олейников Данила - 5 место и медальон за профессионализм Итоги чемпионата "Молодые профессионалы"
                (WorldSkills)Russia) по компетенции Разработка компьютерных игр и мультимедийных приложений
                Андрианом Максим - 11 место на Всероссийском чемпионате "Молодые профессионалы" (WorldSkills)Russia) по
                компетенции Графический дизайн</p>
            <p>Региональный чемпионат "Молодые профессионалы" <b class="blue">(WorldSkills Russia)</b> по компетенции Сетевое и системное
                администрирование - стабильное второе место</p>
            <p>Региональный чемпионат "Молодые профессионалы" <b class="blue">(WorldSkills Russia)</b> по компетенции Разработка виртуальной
                и дополненной реальности - 3 место</p>
            <p>Призовые места в региональных конкурсах и олимпиадах</p>
            <p>Региональный чемпионат "Молодые профессионалы" <b class="blue">(WorldSkills Russia)</b> по компетенции Сетевое и системное
                администрирование -
                <ul>
                    <li>Вербин Сергей  - 3 место</li>
                    <li>Ломтев Иван  - 2 место</li>
                    <li>Кутыгина Юлия  - 2 место</li>
                </ul> </p>
            <p>Региональный чемпионат "Молодые профессионалы" (WorldSkills Russia) по компетенции Графический дизайн
                <ul>
                    <li>Андрианов Максим - 1 место</li>
                    <li>Куравина Олеся - 1 место</li>
                    <li>Гордеев Владислав - 3 место</li>
                </ul> </p>
            <p>По компетенции графический дизайн в национальном финале чемпионата "Молодые профессионалы" (WorldSkills Russia)
                <ul>
                    <li>Андрианов Максим - 11 место</li>
                    <li>Куравина Олеся - 33 место</li>
                </ul> </p>
            <p>По компетенции разработка игр в итогах национального чемпионата "Молодые профессионалы" (WorldSkills Russia)
                <ul>
                    <li>Олейников Даниил - 5 место</li>
                    
                </ul> </p>
            <!-- <p><img src="/images/wsr.svg" alt="" style="width: 100%;"></p> -->

        </section>
    </div>
    <section class="stickers">
        <div class="container">
            <div class="stickers_wrapper" style="display: flex;flex-wrap: wrap; justify-content: space-around;">
                <div class="sticker" >
                    <img src="/images/stickers/1.png" alt="" >
                </div>
                <div class="sticker" >
                    <img src="/images/stickers/2.png" alt="" >
                </div>
                <div class="sticker" >
                    <img src="/images/stickers/3.png" alt="">
                </div>
                <div class="sticker" >
                    <img src="/images/stickers/4.png" alt="" >
                </div>
                <div class="sticker" >
                    <img src="/images/stickers/5.png" alt="" >
                </div>

                <div class="sticker" >
                    <img src="/images/stickers/7.png" alt="" >
                </div>
                <div class="sticker" >
                    <img src="/images/stickers/6.png" alt="" >
                </div>
                <div class="sticker" >
                    <img src="/images/stickers/8.png" alt="" >
                </div>

            </div>
        </div>
    </section>

    <%- include('./partials/scripts.ejs');%>
</body>

</html>