<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('./partials/header.ejs');%>
</head>
<body>
    <%- include('./partials/navbar.ejs');%>
    <div class="container">
        <%- include('./partials/form.ejs');%>
        
    </div>
    <%- include('./partials/scripts.ejs');%>
</body>
</html>
